@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bryan McCoy<br />
    Denham Springs, LA 70726<br />
    <abbr title="Phone">P:</abbr>
    225.867.5301
</address>

<address>
    <strong>Me:</strong> <a href="mailto:bryanmccoy04@gmail.com">bryanmccoy04@gmail.com</a><br />
</address>
